.flex-end-box {
  position: absolute;
  display: flex;
  right: 0;
  top: 0;
}
.flex-end-box div {
  padding: 10px;
  cursor: pointer;
}
.container {
  position: relative;
}
.bar {
  margin-top: 20px;
  margin-left: 10px;
}
.menu {
  list-style-type: none;
  padding: 10px;
  cursor: pointer;
}
.menu-list {
  display: flex;
  margin-top: -40px;
  margin-left: 150px;
  color: #585858;
}
.img-area {
  margin-left: 200px;
  margin-top: -80px;
  width: 200px;
  display: flex;
  align-items: center;
  gap: 10px;
}
.input-area {
  position: absolute;
  right: 380px;
  top: 40px;
}
.input-box {
  width: 440px;
  height: 28px;
}
.button {
  position: absolute;
  left: 388px;
  background-color: white;
  color: black;
  border: none;
  height: "28px";
  cursor: pointer;
  width: 50px;
  height: 20px;
  margin-top: 1px;
  top: px;
}
.img-container {
  animation: slideUp 1s ease-out;
}
@keyframes slideUp {
  from {
    transform: translateY(100%); /* 아래에서 시작 */
    opacity: 0; /* 투명하게 시작 */
  }
  to {
    transform: translateY(0); /* 제자리에서 끝 */
    opacity: 1; /* 불투명하게 끝 */
  }
}
.img-container img {
  display: block;
  margin: 0 auto;
  /* 애니메이션 적용 */

  animation: slideUp 1s ease-out;
}
.menu:hover {
  color: #000000;
}
.slide-image {
  width: 1200px;
}
.side-menu {
  position: fixed;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  z-index: 1000;
  width: 280px;
  top: 167px; /* Adjusted to position relative to the viewport */
  left: 0;
}
.sub-menu-item {
  list-style-type: none;
}
.side-menu li {
  cursor: pointer;
  color: #666666;
}
.side-menu li:hover {
  color: #000000;
}
.img-flex-end {
  display: flex;
  justify-content: center;
  position: relative;

  height: 450px;
}
.description {
  position: absolute;
  right: 100px;
  border: 0.5px solid #585858;
  width: 300px;
  height: 450px;
}
.arrow {
  color: rgb(170, 169, 169);
  position: absolute;
  right: 10px;
  top: 250px;
  z-index: 0;
}
.imagecontainer {
  position: relative;
  animation: slideUp 1s ease-out;
}
@keyframes slideUp {
  from {
    transform: transelateL(100%); /* 아래에서 시작 */
    opacity: 0; /* 투명하게 시작 */
  }
  to {
    transform: translateR(0); /* 제자리에서 끝 */
    opacity: 1; /* 불투명하게 끝 */
  }
}
.mb-2 {
  display: flex;
  justify-content: center;
}
.custombutton {
  width: 120px;
  border-radius: 1px !important;
  border: none;
}
